/* navigation section */
.top-nav{
	height: 50px;
	background-color: #3a1f5d;
	padding: 20px 20px ;
	margin-bottom: 0;

}
.navlist{
	float: right;
	text-decoration: none;
	padding: 20px 20px;
	font-size: 20px;
	color: #ffff;
}
/* TOP CONTAINER SECTION */
.top-container{
	padding: 10px 0 ;
	background-color: #3a1f5d;
	text-align: center;
}

.cookie-img{
	height: 400px;
	width: 700px;
	padding: 50px 50px;
}

h1{

}
